<html>
<head>
<meta http-equiv="refresh" content="1;URL='http://${tracker_base_url}/adtruth/install/${app_id}/timeout'">
<script src="http://${tracker_asset_url}/adtruth/prefs.js"></script>
</head>
<body>
<script>
var adtruth_data = fortyone.collect();
var url = 'http://${tracker_base_url}/ai/${app_id}?d.adtruth_data=' + adtruth_data;
window.location = url;
</script>
<noscript>
<img src="http://${tracker_base_url}/adtruth/install/${app_id}/noscript.gif">
</noscript>
</body>
</html>