<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>byyd Campaign Overall Budget Notification - ${campaign.name}</title>
</head>
<body>
${user.firstName} ${user.lastName},<br/><br/>
Your campaign has almost reached its total budget.<br/><br/>
<hr />
Account: ${user.email}<br/>
Advertiser: ${advertiser.name}<br/>
Campaign: ${campaign.name}<br/>
Spent: ${spent}<br/>
Remaining: ${remaining}<br/>
<hr /><br/>
If your campaign reaches its total budget your ads will stop being served. If you intend to keep this campaign running you may want to increase the budget by going to the <a href="${urlRoot}/campaigns/campaign-summary">campaign
summary</a> page.<br/><br/>
Questions? <a href="${urlRoot}/support">Contact us</a>.<br/><br/>
Kind regards,<br/>
The byyd Team<br/><br/>
</body>
</html>
