$extendeCreativeContent 
<span id="te-clearads-js-byyd_ad_1">
  <script type="text/javascript" src="${truste_choices_url}?sid=${truste_sid}&pid=${truste_pid}&aid=${truste_aid}&cid=${truste_cid}&c=byyd_ad_1&w=${adComponents.components.image.width}&h=${adComponents.components.image.height}&plc=bl&callback=client_callback&byydVtl=extendedVtlAppAr">
  </script>
</span>